<div class="container-fluid d-flex justify-content-center">

    <form>
        <h1 class="display-3 text-light ">Profile</h1>
        <div class="form-row mt-4">
            <div class="form-group">
                <label>User Name</label>
                <input type="text" class="form-control" id="username" placeholder="User Name">
                <button type="button" class="btn btn-outline-primary text-light">Change Username</button>
            </div>



        </div>
        <div class="form-group ">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="Email" placeholder="Email">
        </div>
        <div class="form-group ">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>

        <div class="form-row">
            <div class="form-group ">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="form-group">
                <label for="inputState">State</label>
                <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
            </div>
            <div class="form-group">
                <label for="inputZip">Zip</label>
                <input type="text" class="form-control" id="inputZip">
            </div>
        </div>

        <button type="submit" class="btn btn-primary mt-5">Save</button>
        <button type="button" class="btn btn-primary text-light mt-5 ml-2">Change Password</button>
    </form>
    <div>
